.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 33px;
  align-items: center;
  padding-top: 34px;
}

.menu__item {
  display: flex;
  gap: 46px;
  font-size: 13px;
  line-height: 17px;
}